th, td {
    border: 2px solid black;
    padding: 8px;

}

body{
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    text-align: center;
    flex: 1;
    background-color: #C994E4
}

body {
    display: flex;
    background-color: #E6E6FA;
    padding: 0 150px;
    font-family: monospace;
}
  